.photo-container {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(5, 0.5fr);
    column-gap: 50%;
}

.gallery1 {
    margin: 10px auto;
    display: block;
    width: 150px;
    height: 100px;
    border-radius: 10px 0 5px 0;
    transform: scale(1);
    box-shadow: 5px 5px 8px 7px #76BF2C;
    opacity: 0.6;
}

.gallery {
    display: none;
}

.gallery1:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: 1s ease;
}

.gallery1:hover+.gallery {
    display: block;
    position: absolute;
    float: right;
    top: 38%;
        left:25%;
        width:50%;
        height: 35rem;
    z-index: 1000;
}

.pictures {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.video {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}